


/******************************************** INICIO ********************************************/

/********************** GENERAL **********************/

html{
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: "Lato", sans-serif;
    --first-color: #CCAC5C;
    --second_color: white;
    --third_color: #464344;
    --fourth_color: rgb(244, 244, 244);
    color: var(--third_color);
}
*,
*:before,
*:after{
    box-sizing: inherit;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
}
h2{
    color: var(--third_color);
    font-size: 1.75rem;
    margin: 1rem 0;
}
a{
    text-decoration: none;
    font-style: none;
    color: var(--second_color);
}
p{
    margin: 0.5rem;
}
ul{
    list-style: none;
    padding: 0;
}
.container{
    padding: 2rem 1rem;
}

/********************** HEADER **********************/

header{
    display: flex;
    align-items: center;
    padding: 1.5rem;
    background-color: var(--first-color);
    color: var(--second_color);
}
header a{
    padding-left: 0.5rem;
    width: 17.5rem;
}
header h1{
    font-family: 'Dancing Script', cursive;
    font-size: 3rem;
    text-shadow: 0.1px 0.1px var(--third_color);
    width: 20rem;
}
header button{
    text-decoration: none;
}
.busqueda{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}
.busqueda i{
    position: absolute;
    top: 5;
    right: 0;
    color: var(--second_color);
    font-size: 2rem;
    padding: 0.25rem 2rem 0.25rem 1rem;
    cursor: pointer;
}

/********************** NAV **********************/

nav{
    display: flex;
    justify-content: space-between;
    transition: all 0.25s ease-in;
}
.corrector{
    display: none;
    background-color: var(--second_color);
    height: 4.4rem;
    width: 100%;
}
.corrector.active{
    display: flex;
}
.nav.active{
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--second_color);
    width: 100%;
}
nav a{
    display: flex;
    color: var(--third_color);
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    padding: 1rem 1rem;
    width: 33%;
    border-bottom: 2px solid var(--third_color);
    transition: all 0.5s ease;
}
nav a:hover{
    border-bottom: 2px solid var(--first-color);
}
nav a span{
    font-size: 1.25rem;
    padding: 0.4rem 0.65rem;
    margin-left: 0.5rem;
    color: var(--second_color);
    background-color: var(--third_color);
    border-radius: 3rem;
}

/********************** ARTICLE **********************/

article{
    display: block;
    text-align: center;
}
/*Imagenes corredizas*/
.imagenes_corredizas{
    color: var(--first-color);
    padding: 4rem 0rem 2rem 0rem;
}
.imagenes_corredizas i{
    font-size: 2rem;
}
.imagenes_corredizas h5{
    font-size: 1.15rem;
}
.imagen_uno, .imagen_dos{
    display: none;
}
.imagen_uno.active{
    display: block;
    height: 10rem;
    padding-top: 2rem;
}
.imagen_dos.active{
    display: block;
    height: 10rem;
    padding-top: 2rem;
}
.puntos{
    padding-top: 1rem;
}
.puntos button{
    border: 0;
    font-size: 0;
    background-color: var(--first-color);
    padding: 0.35rem;
    border-radius: 1rem;
    margin: 0.5rem;
}
/*Lista opciones productos*/
article ul{
    display: inline-flex;
}
article h3{
    padding: 1rem;
    font-size: 1rem;
}
.lista_productos{
    overflow-x: auto;
}
.lista_productos ul li{
    margin-right: 0.5rem;
    color: var(--second_color);
    padding: 1rem;
    background-color: var(--first-color);
    width: 14rem;
}
.lista_productos ul li:last-child{
    margin-right: 0;
}
/*Imagenes*/
.imagenes_productos{
    padding: 1rem;
    background-color: var(--fourth_color);
}
.imagenes_productos img{
    border: 1px solid var(--first-color);
    border-radius: 2px;
    width: 10rem;
    height: 10rem;
    margin: 5px;
}
/*Productos destacados*/
.productos_destacados{
    padding-bottom: 1rem;
    border-bottom: 2px solid var(--fourth_color);
}
.productos_destacados h2{
    padding: 2rem;
    border-top: 2px solid var(--fourth_color);
    border-bottom: 2px solid var(--fourth_color);
}
.grilla_productos{
    justify-content: space-between;
    padding: 1rem;
}
.producto{
    display: inline-block;
    text-align: center;
    width: 15rem;
    padding: 1rem;
    border: 0.5px solid var(--fourth_color);
    margin: 0.5rem;
    border-radius: 2px;
}
.producto img{
    width: 12.5rem;
    height: 12.5rem;
}
/*Boton todos los productos*/
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--third_color);
    border: 2px solid var(--second_color);
    color: var(--second_color);
    margin: 1rem 8rem;
    padding: 1rem;
    transition: all 0.5s ease;
}
.btn:hover{
    background-color: var(--second_color);
    border: 2px solid var(--third_color);
    color: var(--third_color);
}
/*Apartado kits*/
.kits{
    padding: 1rem 0 2rem;
}
.kits h3{
    font-size: 2rem;
}

/********************** FOOTER **********************/

footer{
    padding: 1.5rem;
    text-align: center;
    background-color: #F5EEDE;
    color: var(--first-color);
}
footer h3{
    font-size: 2rem;
    padding: 1rem;
}
footer a{
    color: var(--first-color);
    padding: 1rem;
}
.iconos_footer{
    font-size: 3rem;
}
footer h4{
    font-size: 1.5rem;
    padding: 2rem 0 1rem 0;
}
.contactos_footer{
    display: flex;
    border-top: 1px solid var(--first-color);
    border-bottom: 1px solid var(--first-color);
    padding: 0.5rem;
    font-size: 1.25rem;
}
.contactos_footer a{
    transition: all 0.5s ease;
    padding: 1rem;
}
.contactos_footer a:hover{
    color: #e4cd94;
}
.contactos_footer a{
    border-right: 1px solid var(--first-color);
}
.contactos_footer a:last-child{
    border: 0;
}
footer p{
    margin: 0 8rem;
    padding: 1.5rem;
    border-bottom: 1px solid var(--first-color);
    font-size: 1.25rem;
}



/******************************************** PRODUCTOS ********************************************/

/********************** CATALOGO GENERAL **********************/

.catalogo_productos a{
    font-size: 1.15rem;
    text-align: left;
    display: block;
    width: 100%;
    padding: 2rem 1rem;
    color: var(--third_color);
    border-top: 2px solid var(--fourth_color);
}
.catalogo_productos a:first-child{
    border-top: 0;
}
.catalogo_productos a:last-child{
    border-bottom: 2px solid var(--fourth_color);
}
.catalogo_productos a:hover{
    color: var(--first-color);
}